<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="utf-8">
  <!-- minimum-scale to make the sticky table columns/rows work, thx https://stackoverflow.com/a/68865031 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>Kubernetes API Timeline</title>
  <meta property="og:title" content="Kubernetes API Timeline">
  <meta property="og:description" content="This website offers a visual timeline of the availability of various Kubernetes core APIs across releases.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://kube-api.ninja/">
  <meta property="og:image" content="https://kube-api.ninja/static/images/example.png?v={{ .AssetStamp }}">
  <link href="static/bootstrap-5.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/fontawesome-6.4.2/css/fontawesome.min.css" rel="stylesheet">
  <link href="static/fontawesome-6.4.2/css/brands.min.css" rel="stylesheet">
  <link href="static/fontawesome-6.4.2/css/solid.min.css" rel="stylesheet">
  <link href="static/css/site.css?v={{ .AssetStamp }}" rel="stylesheet">
</head>

<body id="page-timeline">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img alt="Kubernetes" title="Kubernetes" src="static/images/kubernetes-logo.svg" width="25" id="logo">
        API Timeline
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about.html">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quicklinks
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item kube" href="https://kubernetes.io/releases/patch-releases/" target="_blank">Patch Releases &amp; Schedule</a></li>
              <li><a class="dropdown-item kube" href="https://kubernetes.io/docs/reference/using-api/deprecation-guide/" target="_blank">Deprecation Policy</a></li>
              <li><a class="dropdown-item kube" href="https://kubernetes.io/docs/reference/using-api/deprecation-policy/" target="_blank">Deprecated API Migration Guide</a></li>
            </ul>
          </li>
        </ul>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="archiveViewSwitch">
          <label class="form-check-label" for="archiveViewSwitch">Show archived releases</label>
        </div>
        <form class="d-flex">
          <select class="form-select" id="roi-selector">
            <option value="">Show notable changes for…</option>
            {{ range $idx, $rel := .Timeline.Releases }}
            {{ if gt $idx 0 }}
            <option value="{{ $rel.Version }}">Kubernetes {{ $rel.Version }}</option>
            {{ end }}
            {{ end }}
          </select>
        </form>
      </div>
    </div>
  </nav>

  <!-- the main page container -->
  <main class="site-container">
    <table class="table non-roi-mode hide-archive container-xxl" id="release-megatable">
      <thead>
        <tr>
          <th class="all-togglers">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-sm btn-outline-primary" id="expand-all">⊕ Expand all</button>
              <button type="button" class="btn btn-sm btn-outline-secondary" id="collapse-all">⊙ Collapse all</button>
            </div>
          </th>
          {{ range $idx, $rel := .Timeline.Releases }}
          <th
            class="{{ getReleaseHeaderClass $.Timeline $rel }}"
            data-release="{{ $rel.Version }}"
            data-released="{{ $rel.Released }}"
            data-latest-version="{{ $rel.LatestVersion }}"
            data-release-date="{{ $rel.ReleaseDate.Format "2006-01-02" }}"
            data-eol-date="{{ with $rel.EndOfLifeDate }}{{ .Format "2006-01-02" }}{{ end }}"
          >
            <a tabindex="{{ $idx }}" role="button" data-bs-toggle="popover" data-release="{{ $rel.Version }}">{{ $rel.Version }}</a>
          </th>
          {{ end }}
        </tr>
      </thead>

      {{ range $apiGroup := .Timeline.APIGroups }}
      <tbody data-apigroup="{{ $apiGroup.Name }}" class="{{ getAPIGroupBodyClass $.Timeline $apiGroup }}">
        <!-- row for the API group -->
        <tr class="{{ getAPIGroupClass $.Timeline $apiGroup }}">
          <th class="name">
            <a href="#" class="toggle" title="expand/collapse this API group"><span class="icons hidden">⊕</span> <span class="name">{{ $apiGroup.Name }}</span></a>
          </th>
          {{ range $rel := $.Timeline.Releases }}
          <td class="{{ getAPIGroupReleaseClass $.Timeline $apiGroup $rel }}">
            <span class="badge text-bg">{{ $apiGroup.PreferredVersion $rel.Version }}</span>
          </td>
          {{ end }}
        </tr>

        {{ range $apiVersionIdx, $apiVersion := $apiGroup.APIVersions }}
        <!-- row for the API version -->
        <!-- TODO: collapsed should be applied via JS -->
        <tr class="{{ getAPIVersionClass $.Timeline $apiGroup $apiVersion }} collapsed" data-apiversion="{{ $apiVersion.Version }}">
          <th class="name">
            <a href="#" class="toggle" title="expand/collapse this API version"><span class="icons">⊕</span> <span class="hidden">{{ $apiGroup.Name }}/</span><span class="name">{{ $apiVersion.Version }}</span></a>
          </th>
          {{ range $rel := $.Timeline.Releases }}
          <td class="{{ getAPIVersionReleaseClass $.Timeline $apiGroup $apiVersion $rel }}">
            <span class="badge text-bg">{{ getAPIVersionReleaseContent $.Timeline $apiGroup $apiVersion $rel }}</span>
          </td>
          {{ end }}
        </tr>

        {{ range $apiResource := $apiVersion.Resources }}
        <!-- row for an API resource -->
        <tr class="{{ getAPIResourceClass $.Timeline $apiGroup $apiVersion $apiResource }}" data-apiversion="{{ $apiVersion.Version }}" data-apiresource="{{ $apiResource.Plural }}">
          <th class="name">
            <span title="{{ $apiResource.Description }}">{{ $apiResource.Kind }}</span>
            <span class="icons"><small><a href="{{ getResourceDocumentationLink $.Timeline $apiGroup $apiVersion $apiResource }}" class="docs" title="view documentation for most recent Kubernetes release" target="_blank"><i class="fa-solid fa-book"></i></a></small></span>
          </th>
          {{ range $rel := $.Timeline.Releases }}
          <td class="{{ getAPIResourceReleaseClass $.Timeline $apiGroup $apiVersion $apiResource $rel }}">
            <span class="badge text-bg">{{ getAPIResourceReleaseContent $.Timeline $apiGroup $apiVersion $apiResource $rel }}</span>
          </td>
          {{ end }}
        </tr>
        {{ end }}
        {{ end }}
      </tbody>
      {{ end }}
      <tfoot>
        <tr class="no-notable-changes">
          <td colspan="{{ add 1 (len .Timeline.Releases) }}" class="infotext">There are no notable API changes in this release.<br><i class="fa-solid fa-face-smile-beam"></i></td>
        </tr>
      </tfoot>
    </table>
  </main> <!-- main content done -->

  <footer>
    <div class="container">
      <p class="text-center text-body-secondary border-top">
        Made
          with <i class="fa-regular fa-keyboard"></i>
          in <img src="static/images/hamburg.png" class="hamburg"> Hamburg
          by <i class="fa-brands fa-github"></i> <a href="https://github.com/xrstf" target="_blank">xrstf</a>.
      </p>
      <p class="text-center text-body-secondary">
        Kubernetes® is a registered trademark of The Linux Foundation®. All rights reserved.<br>
        This website has no relation with and is not endorsed by The Linux Foundation.<br>
        Distributed under CC NC BY 4.0
      </p>
    </div>
  </footer>

  <div class="hidden">
    <div class="release-popover-template">
      <ul class="list-group list-group-flush release-links">
        <li class="list-group-item after-release">
          <a class="release-documentation" target="_blank">
            <i class="fa-solid fa-book"></i> Documentation
          </a>
        </li>
        <li class="list-group-item after-release">
          <a class="release-changelog" target="_blank">
            <i class="fa-solid fa-clipboard-list"></i> Changelog
          </a>
        </li>
        <li class="list-group-item after-release">
          <a class="release-gitbranch" target="_blank">
            <i class="fa-brands fa-github"></i> Git Branch
          </a>
        </li>
        <li class="list-group-item dl-item">
          <div class="key">Released:</div>
          <div class="release-date value"></div>
        </li>
        <li class="list-group-item dl-item">
          <div class="key">Latest Version:</div>
          <div class="latest-version value"></div>
        </li>
        <li class="list-group-item dl-item after-release">
          <div class="key">End of Life:</div>
          <div class="eol-date value"></div>
        </li>
      </ul>
    </div>
  </div>

  <script src="static/bootstrap-5.3.1/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/site.js?v={{ .AssetStamp }}"></script>
  <script src="static/js/release-megatable.js?v={{ .AssetStamp }}"></script>
</body>
</html>
